scratch.ipynb
aipyw.egg-info/*
*/__pycache__/*
__pycache__/
*.csv
!aipyw/data/acic/*.csv
*.dta
*.ipynb_checkpoints
.vscode/*
*.log
*.bbl
*.bcf
*.fls
*.bcf
*.run.xml
**/*_cache/*
*.shp
*.shx
*.qpj
*.dbf
*.RData
*.Rds
*.tab
*.swp
*.spq
*.pqt
*.geojson
*.gpkg
*.aux
*.blg
*.out
*.synctex.gz
build/
